* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding-top: 30px;
  margin-bottom: 20px;
  color: #95e1d3;
}
nav {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
}

.menu {
  display: flex;
  list-style: none;
  width: 33%;
  justify-content: space-around;
  font-size: 15px;
  align-items: center;
}

h1{
  font-size: 40px;
}
.menu > li:hover {
  color: #f38181;
  border-bottom: 5px solid #f38181;
}
.title {
  text-align: center;
  font-style: italic;
}
.title2 {
  text-align: center;
  margin-bottom: 50px;
}
.title2::after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #f38181;
  display: block;
  margin: 30px auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px;
}
p{
  color: #afafaf;
  font-size: 15pt;
}
h2{
  font-size: 14pt;
}
.box {
  width: 30%;
  display: flex;
  margin: 10px 10px 30px 10px;
}
.text>p{
  font-size: 15px;
}
.pic {
  margin-right: 20px;
}
.description{
  text-align: center;
}
.galery{
  display: flex;
  justify-content: space-around;
}
.item>img{
  width: 100%;
}
.title{
  font-style: italic;
}
.title2{
  font-weight: bold;
  font-size: 30px;
}
.description{
  width: 1100px;
  margin: auto;
  font-size: 15px;
  bottom: 10px;
}
.imena{
  margin: 10px;
  text-align: center;
}
.imena>p{
  font-weight: bold;
}
.subMenu{
  list-style: none;
  background-image: linear-gradient(to bottom, #f39d8dbb, #f4d787bb);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 383px;
  height: 473px;
  position: absolute;
  top: 674px;
  opacity: 0;
}
.item:hover>.subMenu{
  opacity: 1;
  transition: all 2s ease;
  box-shadow: 10px 10px #95e1d3;
}
.subMenu>li{
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: #f38181 dolid;
}

.subMenu>li:hover{
  background-color: #95e1d3;
}
main::after{
  content: "";
  display: block;
  width: 1200px;
  height: 1px;
  background-color: #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer{
  width: 1500px;
  display: flex;
  justify-content: space-between;
}
.over{
  display: flex;
  justify-content: space-between;
}
.input{
  border-color: #ccc;

}
